<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Jobs</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <nav style="margin-bottom: 20px;">
        <a href="/view/customers">Customers</a> |
        <span style="color: gray;">Jobs</span> |
        <a href="/view/services">Services</a>
    </nav>

    <div th:if="${jobs.isEmpty()}">
        <p>No jobs found.</p>
    </div>

    <div class="job-list">
        <section class="job-box" th:each="job : ${jobs}">
            <a th:href="@{/view/jobs/{id}(id=${job.id})}" class="box-link">
                <div class = "clickable-box">
                    <h2 th:text="${job.lossType}">Job Description</h2>
                    <p><strong>Customer:</strong> <span th:text="${job.customer.name}"></span></p>
                    <p><strong>Status:</strong> <span th:text="${job.status}"></span></p>
                    <p><strong>Last Service Date:</strong> <span th:text="${job.latestServiceDate}"></span></p>
                </div>
            </a>
        </section>
    </div>

</div>
</body>
</html>